//
   Created by sahil on 10/1/2015.



doctype html
html
   head
      title Error 500--Internal Server Error
   body(bgcolor='white')
      font(face='Helvetica')
         br(clear='all')
         table(border='0', cellspacing='5')
            tr
               td
                  br(clear='all')
                  font(face='Helvetica', color='black', size='3')
                     h2 Error 500--Internal Server Error
         table(border='0', width='100%', cellpadding='10')
            tr
               td(valign='top', width='100%', bgcolor='white')
                  font(face='Courier New')
                     pre.
                        \njava.io.FileNotFoundException: /home/netstorm/work/webapps/nsecom/log4j.properties (No such file or directory)
                         at java.io.FileInputStream.open(Native Method)
                         at java.io.FileInputStream.
