//
   Created by Sahil on 6/8/16.

html
   head
      title Calling Postgres & Yahoo .
   body(bgcolor='white')
      table(border='0')
         tr
            td
               img(src='./../images/logo.png')
            td
               h1 Calling Postgres & Yahoo
               |             This is the output of Calling Postgres & Yahoo