<html>
<head>
    <title>Product check out and place order</title>"
</head>
<body bgcolor=white>
<table border=0>
<tr><td>
          <img src=\"images/logo.png\">
         </td>
      <td>
           <h1>Product check out and place order</h1>
            "This is the output of a servlet that is part of"
            //take default value if parameteris not passed
           "Passed value in parameter of Sleep time for cc #{stfcc}  sleep time for validate #{stfv} level = " + l);
           </td>;
       </tr>
  </table>
</body>
</html>
