//
   Created by compass241 on 08-07-2015.

html
   head
      title Product check out and place order
   body(bgcolor='white')
      table(border='0')
         tr
            td
               img(src='./../images/logo.png')
            td
               h1 response from REST services
               | #{data}


